<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zain.about_us_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loading_animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity android:name=".checkout" />
        <activity android:name=".MainActivity" />
        <activity android:name=".checkout_button" />
        <activity android:name=".no_internet" />
        <activity android:name=".login_sign_screen" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ShippingActivity" />
        <activity android:name=".EditAddressActivity" />
        <activity android:name=".InstagramLoginActivity" />
        <activity android:name=".InstagramOrderActivity" />
        <activity android:name=".VipActivity" />
        <activity android:name=".DailyFollowersActivity" />
        <activity android:name=".DailyFollowersFragmentActivity" />
        <activity android:name=".LikesCellActivity" />
        <activity android:name=".VideoDemoActivity" />
        <activity android:name=".InAppPurchaseActivity" />
        <activity android:name=".InstagramOrderDetails"></activity>
    </application>

</manifest>